.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem 2rem;
  background-color: white;
  color: black;
  position: fixed; /* Make the navbar sticky */
  top: 0;
  width: 100%;
  z-index: 100;
  transition: background-color 0.3s ease;
}

.navbar.scrolled {
  background-color: rgba(255, 255, 255, 0.95); /* Slight transparency */
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* Shadow when scrolled */
}

.logo h1 {
  font-size: 80px;
}

.nav-links {
  display: flex;
  list-style: none;
}

.nav-item {
  margin: 0 1rem;
  cursor: pointer;
  position: relative;
  color: black;
  transition: color 0.3s ease;
}

.nav-item:hover,
.nav-item.active {
  color: #09bab5;
  text-decoration: underline;
}

.cta-button {
  background-color: #09bab5;
  color: white;
  border: none;
  padding: 0.5rem 1rem;
  cursor: pointer;
  transition: background-color 0.3s ease;
  border-radius: 5px;
}

.cta-button:hover {
  background-color: #007f7a;
}

/* Hamburger Menu Styles */
.hamburger {
  display: none;
  flex-direction: column;
  cursor: pointer;
  font-size: 30px;
}

.bar {
  width: 25px;
  height: 3px;
  background-color: black;
  margin: 4px 0;
}

/* Modal Styles */
.nav-modal {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  background-color: #333;
  color: white;
  transform: translateX(-100%);
  animation: slideIn 0.3s forwards;
  z-index: 100;
  height: auto; /* Set height to auto */
}

@keyframes slideIn {
  to {
    transform: translateX(0);
  }
}

.modal-content {
  padding: 2rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: relative;
}

.modal-links {
  list-style: none;
  text-align: center;
  font-size: 30px;
}

.modal-item {
  margin: 1rem 0;
  cursor: pointer;
}

.modal-item:hover,
.modal-item.active {
  color: #09bab5;
  text-decoration: underline;
}

.modal-button {
  margin-top: 2rem;
  display: block;
  width: 100%;
  text-align: center;
  background-color: #09bab5;
  color: white;
  padding: 0.5rem;
  border: none;
  cursor: pointer;
}

.modal-button:hover {
  background-color: #007f7a;
}

/* Close Button */
.close-modal {
  position: absolute;
  top: 10px;
  right: 10px;
  background: none;
  border: none;
  font-size: 1.5rem;
  color: white;
  cursor: pointer;
}

/* Responsive Styles */
@media (max-width: 768px) {
  .nav-links {
    display: none;
  }

  .hamburger {
    display: flex;
  }

  .nav-modal {
    width: 100%;
  }
}