#main {
  display: flex;
  width: 100%;
  height: 100px;
  border: solid 1px red;
  box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.2) ;
}

.navLeft {
  display: flex;
  justify-content: center;
  align-items: center;
  border: solid blue 1px;
  width: 25%;
  height: 100%;
}

.logo {
  font-size: 100px;
}

.navRight {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
  border: solid green 1px;
  width: 75%;
  height: 100%;
}

.pages {
font-size: x-large;
cursor: pointer;
}

.pages:active {
    color: orange;
}

.menu {
  font-size: 40px;
}



@media (max-width: 900px){
  
  .pages {
    display: none;
  }

  .navRight {
    justify-content: end;
  }

  .menu {
    margin-right: 10px;
  }


}

@media (min-width: 900px) {

  .menu {
    display: none;
  }
  
}
